* {
  margin: 0;
}
body{
  width: 100vw;
}

.auth-container{
  text-align: center;

}
.auth-title{
  /* border: 1px solid black; */
  padding: 0.8rem 0;
}

.form-item{
  /* border: 1px solid black; */
  padding: 0.8rem 0;
}
.form-item>input{
  border: 1px solid black;
  /* padding: 0.8rem 0; */
  width: 80%;
}
.password-warning{
  /* border: 1px solid black; */
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.4rem 0;

}

.auth-button{
  width: 5rem;
  margin: 0.8rem 0;
  /* font-size: 5rem; */
}

.auth-google{
  /* border: 1px solid black; */
  padding: 0.8rem 0;

}

.auth-alternative{
    /* border: 1px solid black; */
    padding: 0.8rem 0;
}