

.details-page-img{
  width: 90vw;
}

.details-page-title{
  /* background-color: #8EB1BF; */
  /* border-radius: 0.2rem; */
  /* box-shadow: 2px 2px 6px #3F6473; */
  text-align: center;
  color: white;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 2rem;
  margin: 1rem 0;
  padding: 1rem;
}