* {
  margin: 0;
}
body{
  width: 100vw;
}

.auth-container{
  text-align: center;

}
.auth-title{
  text-align: center;
  color: white;
  font-weight: 10px;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 1.8rem;
  margin: 1rem;
}

.form-item{
  /* border: 1px solid black; */
  font-size: 0.8rem;
  padding: 0.8rem 0;
}
.form-item>input{
  /* padding: 0.8rem 0; */
  width: 15rem;
}
.password-warning{
  /* border: 1px solid black; */
  font-size: 0.8rem;
  font-style: italic;
  padding: 0.4rem 0;

}

.auth-button{
  width: 5rem;
  margin: 0.8rem 0;
  /* font-size: 5rem; */
}

.auth-google{
  /* border: 1px solid black; */
  padding: 0.8rem 0;

}

.auth-alternative{
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: black;
}
.social-login-container{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}
.social-login-box{
  /* border: 1px solid black; */
  width: 7rem;
}
.social-login{
  text-decoration: none;
  color: #6593A6;
  font-size: 1rem;
}