

.details-page-img{
  max-height: 30vh;
  max-width: 50vw;
}

.detail-image {
  max-width: 20rem;
  max-height: 20rem;
}

.detail-img-count {
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.details-page-title{
  text-align: center;
  color: black;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 2.2rem;
  margin: 1rem 0;
  padding: 1rem;
  font-weight: bolder;
}
.details-btn{
  box-shadow: 2px 2px 6px #3F6473;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #6593A6;
  padding: 0.3rem 0;
  margin: 1rem;
  border: none;
  color: white;
  width: 90%;
  cursor: pointer;
}
.details-link{
  background-color: #6593A6;
  color: white;

}
.details-section-title{
  margin: 1rem 0;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #8EB1BF ;
  color: white;
  font-size: 1.4rem;
  text-shadow: 3px 2px 5px #6593A6;
}

.item-title{
  color: black;
  font-weight: bolder;
}

.details-section-2-container{
  display: flex;
  margin: 1rem;
  align-items: center;
}
.details-section-2{
  margin-left: 1rem;
}
.order-by{
  /* width: 100%; */
  font-size: 0.6rem;
}
.status-label{
  width: 6rem;
  height: 3rem;
  font-size: 0.6rem;
}
.status-select{
  width: 6rem;
  height: 1rem;
  font-size: 0.5rem;
  padding: 0;
}
.services-list-container{
  /* border: 1px solid black; */
}
.order-container{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-container>h3{
  font-weight: bolder;
}
.order-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.quantity-input{
  width: 3rem;
  margin: 1rem;

}
.edit-building-container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* height: 15rem; */
  margin: 1rem;
}
.edit-building-form{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}
.edit-building-img{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 21rem;
  padding: 1rem;
}

input[type='file'] {
  display: none
}
.input-file {
  color: #fff;
  cursor: pointer;
  background-color: #3F6473;
  border: none;
  border-radius: 0.2rem;
  color: white;
  text-align: center;
  width: 100%;
}
.edit-form-button {
  width: 100%;
  padding: 12px 20px;
  background-color: white;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media (min-width: 700px) {
.details-btn{
  box-shadow: 2px 2px 6px #3F6473;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #6593A6;
  padding: 0.3rem 0;
  margin: 1rem;
  border: none;
  color: white;
  width: 20%;
}
.details-page-img{
  max-width: 20rem;
  max-height: 20rem;
}

}