html, body {height:100%;}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2rem 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* .footer-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 0.3rem;
}
.footer-title{
  color: #3F6473;
  font-weight: bolder;
  font-size: 0.6rem;
}
.footer-by{
  font-size: 0.5rem;
  color: #3F6473;
  text-align: center;
} */


.footer-top{

  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
}

.footer-link{
  color: #3F6473;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 1rem; */
}
.footer-icon{
  width: 2rem;
  height: 2rem;

}

@media (min-width: 600px) {
  .footer{
    visibility: hidden;
  }
}