@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans';
}

html {
  height: 100%;
  background-color: #D8EBF2;

}
body {
  min-height: 100%;
  background-color: #D8EBF2;
}

.app-outer-container{
  background-color: #D8EBF2;
}
.app-container{
  margin: 1rem;
  margin-top: 60px;
  padding-bottom: 88px;
}

.home-title{
  padding-top: 0.5rem;
  text-align: center;
  color: white;
  font-weight: 10px;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 2.5rem;
}

.home-link-box{
  box-shadow: 2px 2px 6px #3F6473;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #6593A6;
  padding: 0.3rem 0;
  margin: 1rem;
}
.home-link{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.home-about-box{
  background-color: #8EB1BF;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 6px #3F6473;
  text-align: center;
  color: white;
  font-weight: 10px;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 1rem;
}
.home-about-box>h2{
  font-size: 2rem;
}
.home-about-box>h4{
  font-size: 1.5rem;
}
.home-about-text-container{
  margin-top: 1rem;
  display: flex;
}
.home-about-text{
  margin: 1rem 0;
}
.home-about-list{
  margin: 1rem;
  padding: 1rem;
  color: #3F6473;
  list-style-position: inside;
  background-color: #D8EBF2;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 6px #3F6473;

}
.home-about-text>img{
  width: 30vw;
  border-radius: 10rem;
  border: 3px solid #3F6473;
  
}
#img-home-desktop{
  visibility: hidden;
  width: 0;
  height: 0;
}
#img-home-mobile{
  visibility: visible;
}

@media (min-width: 700px) {
  body{
    background-color: lightblue;
  }
  .home-link-container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
  }
  .home-link-box{
    width: 40vw;
    /* border: 1px solid black; */
  }
  .home-section-2-container{
    display: flex;
    justify-content: space-around;
  }
  .home-about-box{
    width: 40vw;
  }
  .new-backgroud{
    background-color: #3F6473;
  }
.app-container{
  background-color: whitesmoke;
  margin-top: 87px;
  }
  #img-home-desktop{
    margin-top: 4rem;
    visibility: visible;
    width: 34rem;
    height: 20rem;
  }
  #img-home-mobile{
    visibility: hidden;
    width: 0;
    height: 0;
  }
}