.invite-container{
  border: 2px solid #8EB1BF;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
}
.code-container{
  width: 15rem;
}
.code-link{
  font-weight: bolder;
  width: 4rem;
  padding: 0.3rem;
}

@media (min-width: 700px) {
.invite-container{
  border: 2px solid #8EB1BF;
  border-radius: 0.2rem;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.5rem;
}

.code-container{
  width: 15rem;
}

.code-link{
  font-weight: bolder;
  width: 7rem;
  padding: 0.3rem;
}
}