* {
  margin: 0;
  text-decoration: none;
}
html {
  height: 100%;
  background-color: #D8EBF2;
}
body{
  background-color: #D8EBF2;
  min-height: 100%;
}
.main-container{
  margin: 1rem;
}

.main-page-title-box{
  text-align: center;
  padding: 1rem 0;
}
.main-page-title-box>h1{
  text-align: center;
  color: white;
  font-weight: 10px;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 2.5rem;
}

.welcome-section{
  text-align: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  color: #3F6473;
}
.title-first{
  color: #6593A6;
  font-weight: bolder;
}
.title-second{
  color: black;
}
.title-third{
  color: #D8EBF2;
  font-weight: bolder;
}

.add-building-box{
  text-align: center;
  border-radius: 0.2rem;
  background-color: #6593A6;
  box-shadow: 2px 2px 6px #3F6473;
  padding: 0.3rem 0;
  margin: 0 1rem 1rem 1rem;
}
.add-building-btn{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
}
.invitation-code-box{
  text-align: center;
  margin: 0 1rem 1rem 1rem;
}
.invitation-code-btn{
  text-decoration: none;
  border: none;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.8rem;
  background-color: #6593A6;
  box-shadow: 2px 2px 6px #3F6473;
  padding: 0.3rem 0;
  color: white;
  width: 100%;
  cursor: pointer;
}
.invitation-code-box form{
  /* border: 1px solid #6F7372; */
  width: 100%;
  padding: 0.3rem 0;
}
.invitation-code-box input{
  border: 1px solid #6593A6;
  border-radius: 0.2rem;
  color: #6593A6;
  width: 80%;
  height: 1.7rem;
}
.invitation-code-box form>button{
  border: 1px solid #6593A6;
  border-radius: 0.2rem;
  color: #6593A6;
  background-color: white;
  height: 1.9rem;
}

/* MY BUILDINGS */
.main-page-section-title-container{
  margin: 1rem 0;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #8EB1BF ;

}
.main-page-section-title{
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  text-shadow: 3px 2px 5px #6593A6;
}

.card-box {
  border: 2px solid #3F6473;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
  color: #3F6473;
  /* text-shadow: 1px 1px 3px #6593A6; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 2px #6593A6;
}
.card-box-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 1rem;
  /* border: 1px solid blue; */
}
.card-img{
  max-height: 4rem;
  margin-right: 1rem;
}
.card-title {
  margin-right: 1rem;
  color: #3F6473;
  font-size: 1.5rem;
  font-weight: bolder;
  flex-grow: 1;
  flex-shrink: 1;
}
.card-text {
  color: #3F6473;
  font-size: 0.8rem;
  flex-grow: 1;
  flex-shrink: 1;
  text-shadow: none;
}
.see-more-btn{
  text-align: center;
  color: white;
  background-color: #6593A6;
  border: none;
  cursor: pointer;
}
.see-all-orders-btn{
  text-align: center;
  color: white;
  background-color: #6593A6;
  border: none;
  cursor: pointer;
}
.see-more-box{
  text-align: center;
  color: white;
  background-color: #6593A6;
  box-shadow: 2px 2px 6px #3F6473;
  border-radius: 0.2rem;
  margin: 0 1rem 0.2rem 1rem;
  border: none;
  padding: 0.3rem 0;
}
.card-order-middle{
  /* border: 1px solid black; */
  text-align: center;
  flex-shrink: 1;
  flex-grow: 1;
}
.card-order-right-side{
  text-align: center;
  /* border: 1px solid blue; */

}
.cancel-btn{
  font-size: 0.7rem;
  border: 1px solid #3F6473;
  border-radius: 0.2rem;
  padding: 0.2rem;
  color: white;
  background-color: #3F6473;
}

.service-card-right-side{
  width: 9rem;
}
.service-card-right-side>h3{
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: underline;
}
.mobile-hidden{
  visibility: hidden;
  height: 0;
  width: 0;
}

/* --------------------------------------------------------------------- */


@media (min-width: 700px) {
  body{
    background-color: whitesmoke;
  }
  .main-page-top{
    width: 20rem;
    margin: 1rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
  }
  .main-page-section-title-container{
    text-align: left;
    background-color: whitesmoke ;
    width: 30rem;
    margin-left: 1rem;
  }
  .title-third{
    color: #3F6473;
  }
  .section-card-container{
    display: flex;
  }
  .card-container{
    display: flex;
    width: 80%;
    /* border: 1px solid red; */
  }

  .card-box {
    min-height: 8rem;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
  }
  .card-box-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    padding: 0;
    /* padding: 1rem; */
    /* border: 1px solid blue; */
  }
  .card-img{
    flex-shrink: 1;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bolder;
    flex-shrink: 1;
  }
  .card-text {
    font-size: 0.8rem;
    flex-shrink: 1;
  }
  .card-order-middle{
    max-width: 7rem;
    flex-shrink: 1;
    flex-grow: 1;
  }
  .card-order-right-side{
    /* border: 1px solid black; */
    max-width: 7rem;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .see-more-btn{
    visibility: hidden;
    height: 0%;
    width: 0;
  }
  .mobile-hidden{
    visibility: visible;
    height: 5rem;
    width: 2rem;
  }
  .see-more-box{
    text-align: center;
    color: white;
    background-color: #6593A6;
    box-shadow: 2px 2px 6px #3F6473;
    border-radius: 0.2rem;
    border: none;
    margin: 1rem;
    color: white;
    width: 2rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .next-icon{
    color: white;
    height: 5rem;
    /* border: 1px solid black; */
  }
  .see-more-box-desktop{
    height: 2rem;
    width: 12rem;
  }
  .see-all-orders-btn{
    /* border: 1px solid red; */
    height: 2rem;
    width: 11rem;

  }






}