

.nav-main-box {
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  align-items: center;
  background-color: #3F6473;
  color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-left-side {
  display: flex;
  justify-content: space-between;
}
.logo-img{
  width: 5.5rem;

}
.nav-link-left {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  margin: 0;
}

.nav-right-side {
  /* border: 1px solid black; */
  /* width: 10rem; */
  margin-right: 30px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
}

.nav-link-right {
  /* border: 1px solid red; */
  padding-left: 1rem;
  text-decoration: none;
  color: white;
}
.logout-btn {
  border: none;
  font-size: 0.75rem;
  background-color: #3F6473;
  color: white;
  padding-left: 1rem;
  cursor: pointer;
}
.nav-link-icon{
  visibility: hidden;
}

@media (min-width: 600px) {
  .nav-main-box{
    padding: 1rem;
  }
  .nav-link-icon-container{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 20rem;
  }
  .nav-link-icon{
    visibility: visible;
    color: #D8EBF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 1rem; */
  }
  .nav-icon{
    width: 2rem;
    height: 2rem;
  }
  .nav-left-side{
    width: 30rem;
    display: flex;
    justify-content: space-between;
  }
}

