

.nav-main-box {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8rem;
  align-items: center;
  background-color: #3F6473;
  color: white;
  /* width: 100%; */
}
.nav-left-side {
  /* border: 1px solid black; */
  /* width: 5rem; */
}
.nav-link-left {
  text-decoration: none;
  color: white;
  /* width: 100%; */
}

.nav-right-side {
  /* border: 1px solid black; */
  /* width: 10rem; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-items: center;
}

.nav-link-right {
  /* border: 1px solid red; */
  padding-left: 1rem;
  text-decoration: none;
  color: white;
}
.logout-btn {
  border: none;
  font-size: 0.75rem;
  background-color: #3F6473;
  color: white;
  padding-left: 1rem;
  cursor: pointer;

}