* {
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
}

.app-outer-container{

}
.app-container{
  margin: 1rem;
}

.home-title{
  text-align: center;
  color: white;
  font-weight: 10px;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 1.5rem;
}

.home-link-box{
  box-shadow: 2px 2px 6px #3F6473;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #6593A6;
  padding: 0.3rem 0;
  margin: 1rem;
}
.home-link{
  text-decoration: none;
  color: white;
}

.home-about-box{
  background-color: #8EB1BF;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 6px #3F6473;
  text-align: center;
  color: white;
  font-weight: 10px;
  text-shadow: 3px 2px 5px #6593A6;
  font-size: 1.2rem;
  margin: 2rem 0;
  padding: 1rem;
}
.home-about-text-container{
  margin-top: 1rem;
  display: flex;
}
.home-about-text{
  margin-top: 1rem;
}
.home-about-text>img{
  width: 30vw;
  border-radius: 10rem;
  border: 3px solid #3F6473;
}

