* {
  margin: 0;
}
body{
  width: 100vw;
}

.app-outer-container{

}
.app-container{
  margin: 1rem;
  border: 1px solid black;
}

.home-title{
  border: 1px solid black;
  text-align: center;
}

.home-link-box{
  border: 1px solid black;
  text-align: center;
}
.home-link{
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.home-about-box{
  border: 1px solid black;
  text-align: center;
}
